.narvbar-lateral{
    width: 240px;
    background: linear-gradient(to bottom, #45DF88, #03A688);
    height: calc(100vh - 132px);
    transition: all 1s;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:fixed;
    margin-top:132px ;
}
.narvbar-lateral ul {
    padding: 0;
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}


.actions-user li {
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    display: block;
    overflow: hidden;
}

ul li .ruta{
    color: aliceblue;
      padding: 10px 20px;
      width: 100%;
      display: block;
}

ul li .ruta:hover{
    background-color:#03A688;
}
.last{
}

