.form-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.form-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-container button {
    width: 100%;
    padding: 12px;
    background-color: white;
    border: 2px solid #00b894;
    color: #00b894;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-container button:hover {
    background-color: #00b894;
    color: white;
}
.form-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.form-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-container button {
    width: 100%;
    padding: 12px;
    background-color: white;
    border: 2px solid #45DF88;
    color: #45DF88;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-container button:hover {
    background-color: #45DF88;
    color: white;
}
.footer-container{
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: right;
    color: #888;
    font-size: 0.9rem;
}
