*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.home-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.home-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

/* Para pantallas más pequeñas, cambiamos a una columna */
@media (max-width: 768px) {
  .home-layout {
    grid-template-columns: 1fr;
  }
  
  .left-column {
    margin-bottom: 20px;
  }
}

.left-column {
  width: 20vw;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-column {
  background-color: #cffce2; /* Color de fondo similar al de la imagen */
  border-radius: 12px;
  padding: 10px;
  width: 40vw;
}

.right-column {
   width: 20vw;
  /* Espacio reservado para contenido futuro */
}

.message-container {
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #45a049;
}